/* Global Styles */
body {
  padding: 0 0;
  margin: 0 0;
  font-family: 'Century Gothic', 'Helvetica', 'Sans';
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Board Container Styles */
.board-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0079BF;
  box-sizing: border-box;
}

/* Top Nav Styles */
nav {
  width: 100%;
  height: 8vh;
  background-color: #0067A3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-style: italic;
  font-family: 'Kaushan Script', cursive;
}

/* Utility Belt Styles */
.utility-belt {
  display: flex;
  margin: 15px 1%;
}

/* Rename Board Styles */
.name-your-board {
  width: auto;
  height: 35px;
  border-radius: 5px;
  transition: background-color 400ms ease;
}

.name-your-board:hover {
  background-color: rgba(0, 84, 133, 0.5);
}

.board-name {
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
  padding: 0 15px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.rename-board.wrapper {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
  border-radius: 5px;
  top: 60px;
  transform-origin: top center;
  animation: reveal 500ms ease-in-out forwards;
  transition: top 400ms cubic-bezier(1,-0.65,1,1.03);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.rename-board.wrapper.open {
  display: flex;
}

.rename-board.wrapper.open.submitted {
  top: -50%;
}

@keyframes reveal {
  0% {
    transform: rotate(30deg) rotateX(90deg) scale(0.1);
    opacity: 0;
  }

  50% {
    transform: rotate(-5deg) rotateX(-10deg);
  }

  70% {
    transform: rotate(2deg) rotateX(5deg);
    opacity: 1;
  }

  100% {
    transform: rotate(0deg) rotateX(0deg) scale(1);
  }
}

.wrapper::after {
  position: relative;
  content: '';
  background-color: lightgrey;
  width: 90%;
  height: 1px;
  margin-bottom: 8px;
  order: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  width: 100%;
  order: 0;
  box-sizing: border-box;
  padding: 0 10px;
}

.invisibile {
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.header p {
  flex: 1;
  text-align: center; 
}

.fas {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  transition: background-color 300ms ease;
}

.fas::before {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgb(228, 228, 228);
  border-radius: 5px; 
}

.rename-board form {
  flex: 3;
  display: flex;
  order: 2;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

label[for='board-name'] {
  margin: 5px 0 0 5%;
  align-self: flex-start;
}

input[type='text'] {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 90%;
  flex: 1;
  margin: 5px 0 15px;
  font-size: 14px;
  padding-left: 8px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.95);
  font-family: 'Century Gothic';
}

input[type='text']::placeholder {
  font-family: 'Century Gothic';
}

input[type='submit'] {
  color: white;
  background-color: rgb(79, 185, 115); 
  width: 75%;
  height: 100%;
  border-radius: 5px;
  margin: 5px 0 15px;
  flex: 1.25;
  font-size: 15px;
  font-family: 'Century Gothic';
}

/* Canvas styles */
.canvas {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Add list styles */
.add-list-button {
  height: 40px;
  width: 275px;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.add-list {
  background-color: rgba(0, 84, 133, 0.5);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  padding-left: 15px;
  transition: background-color 400ms ease;
}

.add-list:hover {
  background-color: rgba(0, 84, 133, 0.7);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
} 

/* Create a List form styles */
.create-list {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 275px;
  height: 170px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
  border-radius: 5px;
  transform-origin: top right;
  animation: reveal 500ms ease-in-out forwards;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.create-list.open {
  display: flex;
}

.create-list::after {
  position: relative;
  content: '';
  background-color: lightgrey;
  width: 90%;;
  height: 1px;
  margin-bottom: 8px;
  order: -1;
}

.create-list-header  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  width: 100%;
  order: -2;
  padding: 8px 4px;
  box-sizing: border-box;
}

.create-list p {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  flex: 2;
  margin: 0 0;
  padding: 0 0;
}

.create-list form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4; 
  width: 100%;
}

.create-list input[type='text'] {
  height: 50%;
  width: 85%;
  margin: 10px 0;
  flex: 1.1;
}

.create-list input[type='submit'] {
  margin: 10px 0;
}

/* New list styles */
.list-column {
  width: 275px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  flex: 0 0 auto;
}

.card {
  width: 100%; 
  display: flex;
  flex-direction: column;
  background-color:rgb(228, 228, 228); 
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
}

.card-heading {
  color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 15px 0;
}

.card-title {
  flex: 1;
  padding: 5px 0;
}

.card-options {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-options .move-list:hover {
  cursor: grab;
  transform-origin: center center;
  animation: inflate 900ms linear infinite forwards;
}

.card-options .fa-ellipsis-h:hover {
  background-color: white;
}

@keyframes inflate {
  0% {
    transform: scale(1);
  }
  70% {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.add-card-details {
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 15px;
  transition: height 500ms ease;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 5px 5px;
  margin-bottom: 8px;
}

.add-card-details:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.add-card-details:active {
  background-color:rgb(206, 206, 206); 
  color: rgba(0, 0, 0, 0.7);
}

.add-card-details.open {
  height: 150px;
  flex-direction: column;
  cursor: default;
  margin-top: 4px;
}

.add-card-details.open:active {
  background-color: rgb(228, 228, 228);
}

.card-details-span {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.add-card-details.open .card-details-span {
  display: none;
}

.add-card-details form {
  display: none;
}

.add-card-details.open form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  animation: fadeIn 500ms normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-70%) scale(0.1);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

.add-card-details.open .card-details-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 14px;
  font-family: 'Century Gothic';
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.submit-options {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0;
}

.submit-options input[type='submit'] {
  margin: 0 5px;
  height: 80%;
}

.submit-options .fas:hover {
  background-color: rgb(255, 255, 255);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 6px 15px;
  align-items: center;
}

.card-content div {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 6px 0 6px 8px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card-content div ~ div {
  margin-top: 8px;
}

.card-content div:last-child.sub-card {
  margin-bottom: 2px;
}

.sub-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
}

.sub-card-title {
  flex: 1;
  word-wrap: break-word;
}

.sub-card .fas {
  margin-right: 5px;
}

.fas.fa-bars:hover {
  cursor: grab;
}

.fas.fa-bars:active {
  cursor: grabbing;
}

.sub-card-options .fa-ellipsis-h.active {
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
}

.option-alert {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  width: 200px;
  height: auto;
  z-index: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 0; 
  flex-direction: column;
}

.option-alert.active {
  display: flex;
  transform-origin: top center;
  animation: fadeIn 300ms normal forwards;
}

.option-alert span {
  font-size: 15px;
  font-family: 'Century Gothic';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 8px 0 8px 15px;
}

.option-alert span:hover {
  background-color: rgb(236, 236, 236);
  color: rgba(247, 27, 27, 0.8);
  width: auto;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: pointer;
}

.card-options .fa-ellipsis-h.active {
  background-color: white;
  border-radius: 5px;
}

.sub-card .option-alert {
  width: 200px;
}

